ErrorDocument 404 /404/index.html

RewriteRule ^developing-a-dll-injector/?$  /research-portal/post/developing-a-dll-injector/? [R=301,NC,L]
RewriteRule ^stack-exploitation/?$  /research-portal/post/stack-exploitation/? [R=301,NC,L]
RewriteRule ^i-didnt-hack-my-christmas-lights/?$  /research-portal/post/i-didnt-hack-my-christmas-lights/? [R=301,NC,L]
RewriteRule ^buying-and-selling-domains/?$  /research-portal/post/buying-and-selling-domains/? [R=301,NC,L]
RewriteRule ^cracking-an-ntlmv2-hash/?$  /research-portal/post/cracking-an-ntlmv2-hash/? [R=301,NC,L]
RewriteRule ^makefiles-but-in-english-part-1/?$  /research-portal/post/makefiles-but-in-english-part-1/? [R=301,NC,L]
RewriteRule ^first-vivokey-spark/?$  /research-portal/post/first-vivokey-spark/? [R=301,NC,L]
RewriteRule ^an-easier-saltlan/?$  /research-portal/post/an-easier-saltlan/? [R=301,NC,L]
RewriteRule ^reverse-engineering-4-layer-pcb/?$  /research-portal/post/reverse-engineering-4-layer-pcb/? [R=301,NC,L]
RewriteRule ^phishing-campaign-research-ep-2/?$  /research-portal/post/phishing-campaign-research-ep-2/? [R=301,NC,L]
RewriteRule ^ascii-art-in-hidden-places/?$  /research-portal/post/ascii-art-in-hidden-places/? [R=301,NC,L]
RewriteRule ^phishing-campaign-research/?$  /research-portal/post/phishing-campaign-research/? [R=301,NC,L]
RewriteRule ^access-control-exploitation-part-1/?$  /research-portal/post/access-control-exploitation-part-1/? [R=301,NC,L]
Redirect 301 /events/  https://801labs.com/get-involved/events/
Redirect 301 /location-and-hours/  https://801labs.com/get-involved/location-and-hours/
Redirect 301 /resources/  https://801labs.com/research-portal
Redirect 301 /volunteer/  https://801labs.com/get-involved/

# Redirects domain.com/file.html to domain.com/file
<IfModule mod_rewrite.c>
#### Force HTTPS://WWW and remove trailing / from files ####
## Turn on rewrite engine
RewriteEngine on

# Remove trailing slash from non-filepath urls
RewriteCond %{REQUEST_URI} /(.+)/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ http://801labs.gscadmin.com/%1 [R=301,L]

# Include trailing slash on directory
RewriteCond %{REQUEST_URI} !(.+)/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ http://801labs.gscadmin.com/$1/ [R=301,L]
</IfModule>

# File Caching
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

